<a href="https://colab.research.google.com/github/BartekFranczak/courses/blob/master/CPO_LAB_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



LAB 1

Laboratorium wprowadzające do Pythona

ZAD 1
Napisz funkcję ’convert temp’, która przyjmuje jeden argument ’x’ reprezentujący temperaturę w stopniach Celsjusza.
Funkcja powinna sprawdzić, czy x jest liczbą (całkowitą lub zmiennoprzecinkową). Jeśli x jest liczbą,
funkcja powinna przekonwertować temperaturę na stopnie Fahrenheita i wypisać wynik (Uwaga: F = 1, 8∗C+32).

In [8]:
def convert_temp(x):
  if ((type(x) == int) or (type(x) == float)):
    return 1.8*x + 32

In [10]:
x = 12.4
print(x)
print(convert_temp(x))

12.4
54.32

ZAD 2. Napisz funkcję ’liczby pierwsze’, która przyjmuje jeden argument ’x’ reprezentujący liczbę całkowitą. Funkcja
powinna znaleźć i wypisać wszystkie liczby pierwsze z zakresu od 1 do „x”. Funkcja powinna zwrócić listę
wszystkich znalezionych liczb pierwszych.

In [38]:
def liczby_pierwsze(x):
  lp = []
  
  for i in range(1,x+1):
    count = 0
    for j in range(1,i+1):
      if i%j == 0:
        count +=1
    if count ==2:
      lp.append(i)
  return lp

In [39]:
print(liczby_pierwsze(30))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

ZAD 3. Zdefiniuj funkcję o nazwie ’usun duplikaty’, która ma jeden argument o nazwie „sekwencja” w postaci listy liczb
całkowitych. Funkcja powinna wypisać, ile razy każdy unikalny numer występuje na liście w kolejności rosnącej
z usuniętymi duplikatami.

In [51]:
from os import initgroups
def usun_duplikaty(sekwencja):
  set_sekwencja = list(set(sekwencja))
  ile = []
  for el1 in set_sekwencja:
    count=0
    for el2 in sekwencja:
      if el1 == el2:
        count+=1
    ile.append(count)
  for i in range(len(set_sekwencja)):
    print("Liczba: {}; Ilosc: {}".format(set_sekwencja[i],ile[i]))

In [52]:
usun_duplikaty([1,4,2,4,2,3,5,7,9,11,7,7,7])

Liczba: 1; Ilosc: 1
Liczba: 2; Ilosc: 2
Liczba: 3; Ilosc: 1
Liczba: 4; Ilosc: 2
Liczba: 5; Ilosc: 1
Liczba: 7; Ilosc: 4
Liczba: 9; Ilosc: 1
Liczba: 11; Ilosc: 1

ZAD 4. Utwórz klasę ’Calculator’ i wykonaj następujące czynności:
1. metoda init () powinna przyjmować argumenty x i y. Domyślne wartości zarówno x, jak i y to 0.
2. Utwórz funkcję klasy ’Calculator’ o nazwie ”set”. Funkcja powinna przyjmować x i y jako argumenty i
zmieniać wartości self.x i self.y.
3. Utwórz funkcję klasy ’Calculator’ o nazwie ”get”. Funkcja nie ma argumentów i powinna zwracać wartości
self.x oraz self.y.
4. Utwórz metodę klasy ’Calculator’ o nazwie ”add”. Funkcja powinna zwrócić sumę self.x i self.y.
5. twórz metodę klasy ’Calculator’ o nazwie ”multiply”. Funkcja powinna zwrócić wynik mnożenia self.x*self.y.
6. Utwórz metodę klasy ’Calculator’ o nazwie ”divide”. Funkcja powinna zwrócić wynik podziału self.x/self.y.
Jeśli wartość self.y wynosi 0, to funkcja powinna wypisać ”Błąd: dzielenie przez zero” i zwrócić None.

In [53]:
class Calculator:
  def __init__(self, x=0, y=0):
    self.x = x
    self.y = y
  def  get(self):
    return [self.x, self.y]
  def add(self):
    return self.x + self.y
  def multiply(self):
    return self.x*self.y
  def divide(self):
    if (self.y == 0):
      print("Błąd: dzielenie przez zero!")
      return None
    else:
      return self.x/self.y

In [59]:
c1 = Calculator()
c2 = Calculator(1,2)
print(c1.divide())
print(c2.divide())

Błąd: dzielenie przez zero!
None
0.5